* {
  margin: 0px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row-gap: 25px;
}

h1 {
  justify-self: center;
  color: rgb(175, 150, 0);
  margin: 25px;
  background-color: rgb(255, 225, 150);
  width: 100%;
  text-align: center;
}

h3 {
  justify-self: center;
  margin: 25px;
  color: rgb(200, 170, 0);
  background-color: rgb(255, 235, 175);
  width: 100%;
  text-align: center;
}

input {
  width: 150px;
  height: 100%;
  border-radius: 0%;
  border-color: rgb(175, 150, 0);
}

label {
  margin-bottom: 10px;
  color: rgb(125, 100, 0);
}

.form-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 25px;
  justify-self: center;
  height: 57px;
}

.form-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  ;
}

.form-field {
  border-width: 5px;
  border-style: double;
}

.form-submit {
  color: rgb(75, 70, 0);
  background-color: rgb(210, 180, 0);
  border-width: 5px;
  font-size: 16px;
}

.form-submit:hover {
  color: white;
  background-color: rgb(200, 170, 0);
}

.form-submit:active {
  background-color: rgb(175, 150, 0);
  border-color: rgb(210, 180, 0);
  color: white;
  border-style: inset;
}

.coefficient {
  display: inline;
}

#equation {
  display: none;
}