* {
  margin: 0px;
}

h1 {
  justify-self: center;
  color: rgb(175, 150, 0);
}

input {
  width: 150px;
  height: 100%;
  border-radius: 0%;
  border-color: rgb(175, 150, 0);
}

.form-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 25px;
  justify-self: center;
  height: 50px;
}

.form-child {
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.form-field {
  border-width: 5px;
  border-style: double;
}

.form-submit {
  color: white;
  background-color: rgb(210, 180, 0);
  border-width: 5px;
}